<div id="content">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <h2><%= link_to post.title, post %></h2>
    </div>
    <p><%= "Post by YangTao on #{post.created_at.strftime('%Y.%m.%d').to_s}" %></p>
    <%= markdown(post.content) %>
  </div>
  <% end %>
</div>

<hr>

<div id="sidebar">
  <div class="section">
    <h3>About</h3>
    <p>A web and iOS app development blog by YangTao.</p>
  </div>
  <div class="section">
    <h3>Categories</h3>
    <% @categories.each do |category| %>
    <p><%= link_to category.name, category_path(category.name) %></p>
    <% end %>
  </div>
  <div class="section">
    <h3>Tags</h3>
    <p>
    <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
    </p>
  </div>
</div>