<!DOCTYPE html>
<html>
<head>
  <title>YangTao's Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <h1 id="logo"><%= link_to "YangTao's Blog", root_path %></h1>
    </div>
  </div>
  <hr>
  <%= yield %>
  <hr>
  <div id="footer">
    <p>Powered by Ruby on Rails, a theme by YangTao.</p>
    <p>陕ICP备13004285号-5</p>
  </div>
</div>
</body>
</html>